@use "./mixins";

/* CSS Reset to ensure consistency across browsers */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Basic HTML and Body Styling */
html,
body {
  height: 100%;
  width: 100%;
  font-family: Arial, sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  scroll-behavior: smooth;
  transition: all 0.5s ease-out;
}

// for light theme
[data-theme="Light"],
:root {
  --background-color: #fff;
  --text-color: #000;
}

// for dark theme
[data-theme="Dark"] {
  --background-color: #000;
  --text-color: #fff;
}
